@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    10 McLean Street<br />
    <abbr title="Phone">Phone:</abbr>
    027 3878820
</address>

<address>
    <strong>Email:</strong> <a href="mailto:ImmortalYang@gmail.com">ImmortalYang@gmail.com</a><br />
</address>
